<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Employee Management System</title>
</head>
<body>
  <h1>Employee Management System</h1>
  <h2>Save Employee</h2>
    <form action="#" th:action="@{/employees/saveEmployee}" th:object="${employee}" method="post">
      <input type="text" th:field="*{firstName}" placeholder="Insert first name">
        <p th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}"></p>

      <input type="text" th:field="*{lastName}" placeholder="Insert first name">
        <p th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}"></p>

      <input type="text" th:field="*{email}" placeholder="Insert email address">
        <p th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></p>

      <label>Is an active employee?</label>
      <input type="checkbox" name="activeEmpChk" checked="checked">

      <select th:field="*{department.id}">
        <option th:each="department : ${listOfDepartments}" th:value="${department.id}" th:text="${department.name}"></option>
      </select>

      <select th:field="*{projects}" multiple>
        <option th:each="project : ${listOfAllProjects}" th:value="${project.id}" th:text="${project.title}"></option>
      </select>
      <p>Hold down the Ctrl when choosing projects</p>

      <input type="hidden" th:field="*{id}">
      <button type="submit">Save Employee</button>
    </form>
<hr>
  <a th:href="@{/employees}">Back to Employees List</a>
</body>
<hr>
<p>© 2022 Mušketiri</p>
</html>